/* Fonts area */

@font-face {
  font-family: 'poppins-regular';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('../fonts/Poppins-Italic.ttf') format('truetype');
    font-style: normal;
}

/* ============================================================================== */

:root {
    --main: #fece03;
    --mainHover: #c3a43f;

    --blue-1: #0d2547;
    --blue-2: #1A4870;
    --blue-3: #25669e;

    --gray: #555555;
    --grayHover: #3a3a3a;

    --white: #FFFFFF;
    --border: #d7dddb;
    --light: #f1f1f1;
    
    --bgblue: #f1f9ff;

    --black: #000000;
    --blackText: #1A1818;
    --textClr: #52525C;

    --wp: #25D366;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins-regular';
}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: auto;
}

a {
    text-decoration: none;
    color: var(--textClr);
    transition: 0.3s;
}

/* ===================================================== */

/* Header Css Start */

header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}

.top-header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}

.top-header nav {
    height: 100%;
}

.top-header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.3s;
}

.top-header ul li {
    list-style: none;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0px 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    outline: none;
}
.top-header ul li a:hover {
    border-left: 1px solid var(--blue-1);
    border-right: 1px solid var(--blue-1);
    background-color: var(--blue-2);
    color: var(--white);
}

.bottom-header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    transition: 0.3s;
}

.logoImg {
    max-width: 270px;
    min-width: 180px;
    height: 100%;
    width: 15%;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImg img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.bottom-header nav {
    height: 100%;
}

.bottom-header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.3s;
    gap: 30px;
}

.bottom-header ul li {
    list-style: none;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    outline: none;
    color: var(--white);
}
.bottom-header ul li a:hover {
    color: var(--main);
}

.countryDrop {
  display: inline-block;
  height: 100%;
}

.countryBtn {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.countryBtn:hover {
    border-left: 1px solid var(--blue-1);
    border-right: 1px solid var(--blue-1);
    background-color: var(--blue-2);
}
.countryBtn img {
    height: 100%;
    object-fit: scale-down;
    border-radius: 4px;
}

.countryDrop-inside {
    display: none;
    position: absolute;
    background-color: var(--blue-1);
    color: var(--white);
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 5px;
}

.countryDrop-inside-in {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: start !important;
    gap: 20px;
}

.countryDrop-inside a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start !important;
    align-items: center;
    color: var(--white);
    gap: 10px;
    height: 40px;
    padding: 10px;
    flex: 1 1 calc(33.333% - 20px);
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

.countryImg {
    width: 40px;
    height: 25px;
    object-fit: cover;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 2px var(--gray));
}

.countryDrop-inside a:hover img {
    scale: 1.1;
}

.countryDrop:hover .countryDrop-inside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: start !important;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    background-color: var(--white);
    padding: 5px 0px 5px 10px;
    border-radius: 8px;
    transition: 0.3s;
}
.search-container:hover {
    background-color: var(--main);
}

.search-input {
    border: none;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    background: none;
    transition: 0.3s;
    color: var(--main);
    max-width: 70px;
    border-bottom: 1px solid transparent;
}
.search-input::placeholder {
    color: var(--main);
}

.search-input::-webkit-input-placeholder {
    color: var(--main);
}
.search-input::-moz-placeholder {
    color: var(--main);
}
.search-input:-ms-input-placeholder {
    color: var(--main);
}

.search-container:hover .search-input,
.search-container:hover .search-input:focus {
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.search-button {
    color: var(--main);
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.search-button i {
    font-size: 18px;
    transition: 0.3s;
}

.search-container:hover .search-button {
    color: var(--white);
}

.mobile-btn {
    height: 36px;
    width: 30px;
    border: none;
    background: none;
    outline: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mobile-btn i {
    height: 100%;
    width: 100%;
    font-size: 35px;
    color: var(--main);
}

.navbar-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: var(--blue-1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    left: 0;
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.navbar-mobile a {
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid var(--blue-1) !important;
}

.navbar-mobile a:hover {
    background-color: #f1f1f1;
}

.dropdown-btn-mobile {
    background-color: var(--blue-1);
    color: var(--white);
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid var(--blue-2) !important;
}

.dropdown-btn-mobile a,
.dropdown-btn-mobile1 a {
    border-bottom: none !important;
    padding: 0px;
    width: fit-content !important;
}

.dropdown-btn-mobile1 {
    background-color: var(--blue-2);
    color: var(--white);
    border: none;
    text-align: left;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid var(--blue-1) !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown-mobile button:last-of-type {
    border-bottom: none !important
}
.dropdown-container-mobile button:last-of-type {
    border-bottom: none !important
}
.dropdown-container-mobile1 a:last-child {
    border-bottom: none !important
}

.dropdown-btn-mobile i,
.dropdown-btn-mobile1 i {
    float: right;
    width: fit-content !important;
}

.dropdown-container-mobile {
    display: none;
    padding: 0px 10px;
    background-color: var(--blue-2);
}
.dropdown-container-mobile1 {
    display: none;
    padding: 0px 10px;
    background-color: var(--blue-3);
}

.dropdown-container-mobile a,
.dropdown-container-mobile1 a {
    padding: 10px 0;
    display: block;
}

.dropdown-btn-mobile.active + .dropdown-container-mobile {
    display: block;
}

.dropdown-btn-mobile1.active + .dropdown-container-mobile1 {
    display: block;
}

.show-mobile {
    display: flex;
}


.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown a {
  border: none;
  cursor: pointer;
  height: 100%;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    min-width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    overflow: auto;
    opacity: 0;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    opacity: 1;
}

/* Slider container */
.card-slider {
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.cardInside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--blue-2);
}

.header-dp {
    justify-content: flex-start !important;
    align-items: start !important;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--blue-2);
    gap: 20px;
    width: max-content;
}

.industry-column {
    flex: 1;
    min-width: 200px;
    height: 100%;
}

.industry-column p {
    color: var(--white);
    max-width: 600px;
}

.industry-header {
    color: var(--main) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--main) !important;
    padding-bottom: 5px;
    margin-bottom: 10px;
    justify-content: flex-start !important;
    align-items: start !important;
}

.industry-header:hover {
    color: var(--mainHover) !important;
    border-bottom: 2px solid var(--mainHover) !important;
}

.industry-column ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5px;
    padding: 0;
    margin-bottom: 20px;
}

.industry-column li {
    color: var(--white);
}

.tab-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    background-color: var(--blue-1);
    position: relative;
}

.tab-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: max-content;
    background-color: var(--blue-1);
    min-width: 320px;
}

.tab-button {
    padding: 20px;
    text-align: left;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    color: var(--white);
    width: 100%;
    text-wrap: nowrap;
    transition: 0.3s;
}
.tab-button:hover {
    background-color: var(--white);
    color: var(--blue-1);
}

.tab-button.active {
    background-color: var(--blue-2);
    color: var(--white);
}


.serviceBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

.serviceImg {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    gap: 10px;
}

.serviceImg a {
    display: flex;
    flex-direction: column;
    color: var(--main) !important;
    gap: 20px;
    border-bottom: 2px solid transparent;
}

.serviceImg a:hover {
    border-bottom: 2px solid var(--main);
    font-weight: bold;
}

.serviceImg a img {
    height: 100px;
    object-fit: scale-down;
}

.hr-1 {
    width: 100%;
}

.serviceImg p {
    font-size: 14px;
}

.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}

.toplumBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    color: var(--white);
    width: fit-content;
}
.toplumBaslik {
    color: var(--main) !important;
    display: flex;
    justify-content: flex-start !important;
    transition: 0.3s;
    border-bottom: 2px solid transparent !important;
    width: max-content;
}
.toplumBaslik:hover {
    border-bottom: 2px solid var(--main) !important;
}
.toplumTxt p {
    max-width: 400px;
}

.readMore {
    padding: 10px 20px !important;
    border-radius: 8px;
    border: 2px solid var(--main) !important;
    color: var(--main) !important;
    height: fit-content !important;
    transition: 0.3s;
}
.readMore:hover {
    color: var(--white) !important;
    border-color: var(--white) !important;
}

.toplumBox h3 {
    color: var(--main);
}

.toplumLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    text-align: center;
    gap: 20px;
}

.abuotBox {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: start !important;
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    gap: 20px;
}

.abuotBox h3 {
    color: var(--main);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.abuotBox:hover h3 {
    border-bottom: 2px solid var(--main);
}

.abuotImg {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.abuotImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.countactImg {
    max-width: 400px;
}

.countactImg img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.searchLi {
    display: flex;
    gap: 20px;
}

.langBox a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.langImg {
    width: 40px;
    height: 25px;
    object-fit: cover;
}

@media (max-width:1664px) {
    .card-container {
        width: 100%;
        max-width: max-content;
    }
}

@media (max-width:1365px) {
    .abuotBox {
        max-width: 270px;
        min-width: 0;
    }
}
@media (max-width:1210px) {
    .abuotBox {
        max-width: 200px;
        min-width: 0;
    }
}
@media (max-width:1140px) {
    .countryDrop-inside-in {
        width: 80%;
    }
}
@media (max-width:1000px) {
    .abuotBox {
        max-width: 100%;
        min-width: 0;
    }
    .countryDrop-inside-in {
        width: 90%;
    }
}

@media (max-width: 1170px) {
    .serviceBox {
        flex-wrap: wrap;
    }
}
@media (max-width: 1155px) {
    .toplumBox {
        flex-wrap: wrap;
    }
}

@media (max-width: 950px) {
    header {
        height: 100px;
    }
    .headerInfo, .countryDrop, .top-header, .dropdown, .d-none {
        display: none !important;
    }
    .bottom-header {
        justify-content: space-between;
        padding: 0px 50px;
    }
    .mobile-btn {
        display: flex;
    }
    .search-container {
        background-color: transparent;
    }
}

@media (max-width: 424px) {
    .bottom-header {
        justify-content: space-between;
        padding: 0px 10px;
    }
}

@media (max-width: 368px) {
    .bottom-header {
        justify-content: space-between;
        padding: 0px 10px;
    }
    .logoImg {
        max-width: 200px;
        min-width: 0px;
        width: 100%;
    }
    .search-input {
        font-size: 14px;
        max-width: 50px;
    }
}